#carouselExampleIndicators {
    overflow: hidden;
    align-self: center;
    margin: auto;
    box-shadow: 2px gray;
}

.card {
    margin: 1000px 5px 5px 10px !important;
}


/* #feature{
   /* border: 1px solid red;
} */

.modal {
    z-index: 99 !important;
}

.fi {
    height: auto;
    width: 33%;
    /*border: 1px solid grey;*/
    padding: 1px;
    box-shadow: 0px 0px 5px 0px #666666;
    margin: 20px;
    border-radius: 0.5rem;
    justify-content: space-evenly;
    text-align: center;
}

.ft {
    margin: auto;
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
}